<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<h1>order Id: {{.payload.OrderId}}</h1>

<p>userName: {{.payload.UserName}}</p>

<p>amount: {{.payload.Amount}}</p>

<p>status: {{.payload.Status}}</p>

<p>file Download
    <a href="/file/download?fileUrl={{.payload.FileUrl}}">Here</a>
</p>

<p>updateTime: {{.payload.UpdatedAt}}</p>


 <form action="/file/upload/{{.payload.OrderId}}" enctype="multipart/form-data" method="POST">
        
        <input type="file" name="file" id="pic" accept="*" />
        <button type="submit">Submit</button>
    </form>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}